.titulo-bg {
  background-color: var(--cor-11);
}
.bicicletas-int{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bicicletas-int-imagens{
  display: grid;
  grid-template-areas: 
  "f1 f1"
  "f2 f3";
  gap: 20px;
  margin-bottom: ;
}
.f1{
  grid-area: f1;
}
.f2{
  grid-area: f2;
}
.f3{
  grid-area: f3;
}
.bicicletas-int-conteudo p{
  max-width: 40ch;
  margin-bottom: 32px;
}

.bicicletas-int-comprar{
  display: flex;
  gap: 20px;
}
.bicicletas-int-comprar img{
  display: inline-block;
}