body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
ul,
p {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  display: block;
}
.header-bg {
  background-color: #000;
  color: #fff;
}
.header {
  max-width: 1200px;
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 20px;
}
.header-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.header-menu a {
  padding: 16px 0px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
  line-height: 2rem;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background-color: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu {
    gap: 2rem;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
    justify-content: center;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 1rem;
  }
  .header {
    justify-content: center;
  }
}
@media (max-width: 370px) {
  .header {
    justify-content: center;
  }
  .header-menu {
    justify-content: center;
  }
}

.introducao-bg {
  background-color: #000;
  color: #fff;
  box-shadow: inset 0px -120px rgb(255, 255, 255);
}
.introducao a {
  color: inherit;
}

.introducao {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  margin-left: auto;
  margin-right: auto;
}
.introducao-conteudo {
  padding-left: 20px;
  align-self: end;
  margin-bottom: 120px;
}
.introducao-conteudo h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125;
}
.introducao-conteudo span {
  color: #fb0;
}
.introducao-conteudo p {
  margin-bottom: 20px;
  color: #b2b2b2;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.introducao-conteudo a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00 0%, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #320;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.333; /* 133.333% */
  margin-bottom: 140px;
}
.introducao-conteudo a:hover {
  background: linear-gradient(#ce9a00 0%, #d6920a);
}
.introducao img {
  height: 100%;
  object-fit: cover;
  height: 100%;
}
