body {
  margin: 0px;
  color: var(--cor-11);
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 4px;
}
.container {
  max-width: 1200px;
  gap: 0px 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a{
 text-decoration: none;

}