.depoimentos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--cor-p0);
    margin-bottom: 200px;
}
.depoimentos img{
    border-radius: 0px;
    max-width: 100%;
    object-fit: cover;
}
.depoimentos-conteudo {
    padding: 100px 80px;
    align-self: end;
    
}
.depoimentos-conteudo p{   
    color: var(--cor-p4);
    margin-bottom: 32px;
    max-width: 30ch;
    font-style: italic;
}
.depoimentos-conteudo span{   
    color: var(--cor-p3);
}