
.introducao-bg {
  background-color: var(--cor-12);  
  box-shadow: inset 0px -120px var(--cor-0);
}


.introducao {  
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introducao-conteudo { 
  align-self: end;
  padding-bottom: 120px;
  margin-bottom: 120px;
}
.introducao-conteudo h1 { 
  margin-bottom: 30px;  
}

.introducao-conteudo p { 
   margin-bottom: 20px; 
}


.introducao img {
  height: 100%;
  object-fit: cover;
}

@media(max-width:1200px){
  .introducao h1{
    font-size: 3rem;
    margin-bottom: 18px
  }
  .introducao p{
    font-size: 1.2rem;
  }

}

@media(max-width:800px){
  .introducao-bg{
    background-color: var(--cor-11);
    padding-top: 20px;
    box-shadow: inset 0px -60px var(--cor-0);
  }
  .introducao h1{
    font-size: 2rem;    
  }
  .introducao p{
    font-size: 1rem;
    max-width: 60ch;
  }
  .introducao{
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao img{
    width: 100%;
    height: 300px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao-conteudo a{
    margin-bottom: 0px;
  }
} 